
{% extends "base.html" %}

{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'Arbitrator/css/arbitrator.css' %}">


<div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade " data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="4000">
            <img src="{% static 'Arbitrator/images/26_in_drill_bit_SNI.jpg' %}" class="d-block" alt="Image 1">
            <div class="carousel-caption text-start">
                <p class="fw-bold">International Arbitrator and Accredited Mediator with Aeronautical,<br>
                    Engineering and Oilfield Expertise</p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="{% static 'Arbitrator/images/Ensco8503banked.jpg' %}" class="d-block" alt="Image 2">
            <div class="carousel-caption text-start">
                <p class="fw-bold">International Arbitrator and Accredited Mediator with Aeronautical,<br>
                    Engineering and Oilfield Expertise</p>
            </div>
        </div>
        <div class="carousel-item" data-bs-interval="4000">
            <img src="{% static 'Arbitrator/images/Turbo_lance.jpg' %}" class="d-block" alt="Image 3">
            <div class="carousel-caption text-start">
                <p class="fw-bold">International Arbitrator and Accredited Mediator with Aeronautical,<br>
                    Engineering and Oilfield Expertise</p>
            </div>
        </div>
    </div>
</div>
    
<div class="container-fluid">
            
    <div class="container mx-auto">
                
        <h3><br><b>Arbitrator or Mediator for Oilfield, Engineering, Aeronautical disputes</b></h3>
        <p class="lh-sm">Please <a target="blank" href="http://ciarb.org/resources/features/does-a-full-house-tribunal-trump-three-of-a-kind-for-cost-effective-arbitrations/">see my paper</a> about reducing the cost and time of arbitrating disputes.  This was published by the Chartered Institute of Arbitrators in March 2021.</p>
            
        <img src="{% static 'main/Arbitrator/images/StevePic.jpg' %}" class="d-block w-1 StevePic" alt="StevePic" align="right" id="StevePic">
        <p class="lh-sm"><br>My priorities as an Arbitrator are:
            <ol>
                <li>Produce a fair and enforceable Award within a reasonable timescale.</li>
                <li>Tailor the arbitration to balance the complexity and cost.</li>
                <li>Work proactively to keep to the agreed timetable.</li>
            </ol>
        </p>
        <p>The attributes contributing to my work as an Arbitrator and Expert are:</p>

        <ul>
            <li><b>Being open minded and fair:</b>   I have investigated serious and sometimes complex incidents.  I know that the evidence must lead the process, not confirm any early opinions of myself or others.  The final findings will demonstrate my honest professional opinion with reasons.</li>
            <li><b>Legal Knowledge:</b>  I passed the Chartered Institute of Arbitrators International Arbitration training pathway.  This included training and being examined on contract and tort law, rules of evidence, international arbitration laws, international arbitration practice &amp; procedure and award writing.  I am a Fellow of CIArb.  I am active as an Arbitrator and Drilling Expert Witness.</li>
            <li><b>Diligence, organisation, technical competence:</b>   I worked as a Drilling Professional worldwide for 40 years.  Some assignments involved overall responsibility for Exploration wells in very deep water and remote locations, costing over $1m/day.  Success requires diligence, good organisation and high technical competence. </li>
            <li><b>Case management:</b>   I take a case-dependent approach to running an arbitration.  I have no bias towards civil or common law procedures.  With my specialist knowledge I can quickly understand technical documents.  I will not allow guerilla tactics to waste time and increase costs.</li>
            <li><b>Experience:</b> As of December 2022, I have accepted 60 appointments as Arbitrator.</li>
        </ul>

        <p class="lh-sm">Professional background:
            <ol>
                <li> I qualified as an Aeronautical Engineer in 1978, entered the Drilling industry in 1979.  I started consulting in 1988, responsible for planning and drilling many wells worldwide.<br></li>
                <li> Three years spent in full time Drilling training.  I’ve run workshops, carried out incident investigations.<br></li>
                <li> I qualified as a pilot in 1986 and gained multi-engine, instrument, night and aerobatics ratings.  I act as a Drilling Expert Witness.  I’m the Honorary Secretary of the Energy Arbitration Club (previously the Oil &amp; Gas Arbitration Club). Member of the Institute of Materials, Minerals and Mining.  Accredited Mediator.<br></li>
                <li> I have published <a target="blank" href="https://www.pennwellbooks.com/search.php?search_query=devereux&section=product">two Drilling books</a> , “Practical well planning and drilling manual” and “Drilling technology in non-technical language”. <br></li>
            </ol>
        </p>

        <p>I have been vetted and accredited as an expert witness by the Academy of Experts.</p>
        <p>Please contact me if you might need to appoint an Arbitrator, Mediator or Drilling Expert to arrange an interview or ask questions.</p>
        <p>Thank you for considering me.</p>
        <p></p>
        <p>Steve Devereux<br>
            CEng FCIArb MIMMM <br>
            Arbitrator - Mediator - Drilling Expert.
        </p>

    </div>
</div>
{% endblock %}