{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
            
    <div class="container mx-auto">
        <h3><br>Online learning for dispute resolution or Drilling technical subjects</h3>
        <p>eLearning modules for <b>legal, insurance and other professionals</b> involved in <b>Drilling related disputes</b>.  Also <b>Drilling technical subjects</b> for <b>Drilling professionals</b>.  All are <FONT COLOR="#ff0000">free to take</FONT>.  All are designed to take up to 30 minutes.  You can view a short video showing how to navigate <a href="http://www.oilfield-elearning.com/NavVideo.mp4">here.</a></p>
        <p><FONT COLOR="#00c000"><b>These might not work in Firefox.</b>  Investigating this.  Please try another browser if it doesn't load.</FONT></p>
        <p><FONT COLOR="#ff0000">Please send an email </FONT>to <a href = "mailto: OLL@drilling-expert.legal">OLL@drilling-expert.legal</a> if you want to take any or all of these free lessons.  I only ask you to do this once.  You can use this same email for any bug reports.  This is only to allow me to understand how many people use these lessons, rather than having to set up a log-in facility.</p>
        <p></p>
        <p class="lh-sm"><br><b>Basic well control theory (BWC) </b>  There are 4 modules covering hydrostatic pressures, how a well is drilled with a surface BOP, kick causes, initial response, basic calculations. 
            <ul>
                <li><a href="https://www.oilfield-elearning.com/M01i/story_html5.html">BWC 01</a><b> Hydrostatic Pressures:</b>  You must be able to calculate hydrostatic pressures. Happily it's not complicated.</li>
                <li><a href="https://www.oilfield-elearning.com/M02/story_html5.html">BWC 02</a><b>  Drilling with a surface BOP</b></li>
                <li><a href="https://www.oilfield-elearning.com/M03/story_html5.html">BWC 03</a><b> Kick causes</b> </li>
            </ul>
        </p>
        <p class="lh-sm"><b>Drilling Cost Reduction (DCR) </b> Anyone involved in planning and drilling wells.  Drilling engineers, superintendents, logistics etc.  There are currently 12 modules dealing with reducing drilling costs. <a href="/DCR_Course_Feedback">See feedback from the first course delegate.</a>
            <ul>
                <li><a href="https://www.oilfield-elearning.com/DCR01/story_html5.html">DCR 01</a><b> Introduction:</b>   Introduces some basic concepts.  Take this first.  Obviously.</li>
                <li><a href="https://www.oilfield-elearning.com/DCR02/story_html5.html">DCR 02</a><b>  The 5 Factors for reducing costs </b>&amp; detailed explanation of F5: parasitic <FONT COLOR="#00c000">contracts</FONT> losses</li>
                <li><a href="https://www.oilfield-elearning.com/DCR03/story_html5.html">DCR 03</a><b> F 1 &amp; 2: Maximise Progress and Minimise Problems </b> </li>
                <li><a href="https://www.oilfield-elearning.com/DCR04/story_html5.html">DCR 04</a><b> F 3 &amp; 4: Returns and Solution</b> </li>
                <li><a href="https://www.oilfield-elearning.com/DCR05/story_html5.html">DCR 05</a><b> Logistics </b> </li>
                <li><a href="https://www.oilfield-elearning.com/DCR06/story_html5.html">DCR 06</a><b> Directional Drilling</b> </li>
                <li><a href="https://www.oilfield-elearning.com/DCR07/story_html5.html">DCR 07</a><b> <FONT COLOR="#f61e61">Cement</FONT> - fluid los</b> </li>
                <li><a href="https://www.oilfield-elearning.com/DCR08/story_html5.html">DCR 08</a><b> <FONT COLOR="#f61e61">Cement</FONT> design</b> </li>
                <li><a href="https://www.oilfield-elearning.com/DCR09/story_html5.html">DCR 09</a><b> <FONT COLOR="#00c000">Contracts</FONT> general - optimisation to reduce cost and risk</b> </li>
                <li><a href="https://www.oilfield-elearning.com/DCR010/story_html5.html">DCR 10</a><b> <FONT COLOR="#00c000">Contracts</FONT> specific - rig, mud and service contract</b> </li>
                <li><a href="https://www.oilfield-elearning.com/DCR011/story_html5.html">DCR 11</a><b> Mud selection  </b> </li>
                <li><a href="https://www.oilfield-elearning.com/DCR012/story_html5.html">DCR 12</a><b> Subsea Well Surface Casing <FONT COLOR="#f61e61">Cement</FONT></b> </li>
            </ul>
        </p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
    </div>
</div>
{% endblock %}