{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="container mx-auto">
        <h3><br>Expert Witness</h3>
        <p>Accredited by the Academy of Experts.  Click on the badge to see my entry.</p>
        <p>Appeared in hearings and have been cross examined.</p>
        <p>I maintain all my certification to travel and work offshore and to run Drilling projects.  My well control certification is up to date with a 97% overall pass in the theory and practical tests.  I have had the top level well control certification continuously since it was first introduced.  Click on the badge to see my pass details.</p>
        <p>I also designed and gave Advanced Well Control training for Shell UK and was a member of the IWCF Drilling taskforce, which worked on updating and improving the well control training syllabus.  Many Drilling disputes involve some aspect of well control; use an Expert that is qualified to give an expert analysis and opinion.</p>
        <p>After qualifying and working as an Aeronautical Engineer for British Aerospace plc, I joined Shell Internationale in 1979 as a Trainee Driller.  I spent the next 40 years drilling wells, running training courses, managing complex exploration drilling projects around the world.  I started getting active in arbitrations in 2016.</p>
        <p>Disputes involving oilfield companies often involve complex technical and human factor issues.  Sometimes, regulations may also have been contravened but this might not be obvious to Legal Counsel examining the case.  I bring strong technical expertise to bear on a case and provide an independent Report, suitable for use in arbitration or litigation.</p>
        <p class="lh-sm"><br>Expert work (not a complete list) includes: 
            <ul>
                <li><b>Subsea BOP Arbitration. </b> Tribunal appointed Expert Witness.  The subsea BOP could not be disconnected and was left lying on the seabed for over one year.</li>
                <li><b>Sub Surface Safety Valve Mandrel Welds. </b> Provided expert opinion regarding the failure of welds on sub surface safety valve mandrels.  The company lawyers had advised that there were no grounds to bring an arbitration.  I was able to show that there were breaches of contract leading to settlement negotiations.</li>
                <li><b>New Build Jack Up Rig. </b> Expert technical opinion on test loading of spud cans on a new build jack up rig.</li>
                <li><b>Subsea oil well accidental disconnection. </b> Expert technical opinion on the merits of claim and defence for an issue with a rig causing an accidental disconnection from a subsea oil well.</li>
                <li><b>Well Control Issues. </b> Expert report for an arbitration on a serious well control issue where procedures were not followed correctly.</li>
            </ul>
        </p>
        <p>More detail is given in my full Resumé - download from the footer link.</p>
    </div>
</div>
{% endblock %}