{% extends "base.html" %}

{% block content %}


<div class="container-fluid">
    <div class="container mx-auto">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h3><br>Incidents or problems investigation<br></h3>
            </div>
        </div>
    <div class="row justify-content-center mx-auto">
        <div class="col-4">
            <br>
            <p>When a problem or incident occurs on a drilling rig or well location, the actual or potential consequences can be severe.  Fatality, injury, pollution, damage, high cost impact, reputation, prosecution.</p>
            <p>An independent investigation is more likely to establish the root causes of the incident than an in-house effort.  I have long experience of such investigations and I maintain my offshore survival, offshore medical and well control certifications ready to mobilise to any drilling location on land or offshore, if it is necessary to visit the scene.</p>
            <p>Otherwise documents, recorded data and other evidence can be remotely examined.  Interviews can be conducted ideally in person or otherwise can be done remotely.</p>
            <p>There may be a persistent Drilling problem which could yield to an independent investigation, with remedial training designed and delivered to address the issue if required, in addition to the detailed report and recommendations.</p>
            <p style="font-family:'Courier New'"><h3>"We can afford to have Drilling problems.  We can't afford expensive Drilling problems." </h3>
            - MD of small African operator.</p>

        </div>
        <div class="col-4">
            <br>
            <h3>Examples</h3>
            <p>The Operator had a persistent problem with stuck pipe in a long Development drilling programme.  Analysis showed that the most frequent cases of stuck pipe occurred in 6" horizontal sections, however these were quickly solved by the drill crew with low cost impact.  The most expensive problem was in running 9-5/8"  casing in 12-1/4" hole, with four incidents each costing over $4m and several others less expensive but still costly. </p>
            
            <p>The investigation into each stuck casing incident identified several root causes with warning signs sometimes not recognised by the rig supervisors.  Two 30 minute classroom training sessions were designed to be given offshore to the supervisors, drillers, mud loggers, mud engineers to address the specific issues of running this particular casing.</p>
            
            <br><br><center>~~~~~~~~~</center><br><br>
            <p>A near-miss could have cost a $100m exploration well.  During a frac operation, annulus pressure was required to counter the very high frac pressures inside the tubing, otherwise the tubing would burst.  An incorrect setup caused frac pressure to leak into the annulus.  The protective Emergency Relief valve did not operate.  High pressure alarms sounded, alerting the supervisors.  The frac pumps were manually stopped, less than 30 seconds from exposing the annulus to pressure in excess of the casing burst rating.  My report identified the root causes and made 21 recommendations to improve future frac operations and avoid a repeat situation. </p>
    </div>
    </div>
 </div>
{% endblock %}